<h1> WELCOME TO THIS PAGE </h1>

<p> Why Organized by Color? Several reasons! Simply put, organized by color allows a user to easily locate their book from the information in their database on the OCB app. Instead of staring blankly for a small title on a weathered spine, a user can head straight to the color section in which their book title belongs. Have a friend over? Let them scan your virtual bookshelf themselves and quickly locate their next literary experience. You have the option to Rent, Rate or Review the book. Start a conversation about the characters in your pages!

Additionally, organization by color allows a sense of calm and clarity. Colors play a huge role in a person’s mood. From invigoration to relaxation, the color wheel is a nifty way to put yourself in the right mood. Plus, it just looks good. Call us OCD at OBC, but we like a crisp, clean setting.

How Does it Work?

- Log In: Set a username and password. With us so far?
- Catalogue Your Library: Using the nifty little “add book” option you can input all the information and a picture of your treasured tales. Once you’ve catalogued your books, you can review and rate them yourself.
- Share: Let people know you’ve got your library up and running. Friends can then ‘rent' your books through the ‘rent’ key. Once the book is rented out, it will show as unavailable to other viewers.
- Meet or Mail: Meet up or mail the rented book to the renter! We will send a reminder that the book is due back based on the date and time you set.

About Us
Organized By Color was a simple idea meant to bring a more positive, prepared feeling to the average reader. There’s just something about arranging your bookshelf and sharing your literary experiences with others. We can get lost in longing, learning and living through the characters we read about—especially if they are easy to find on our shelve. Whether you revisit an old favorite, or spend time reflecting on your books in your reviews for your friends’ benefits, this app gives you a chance to do it all with your own library catalogue.

Bottom Tag Option:
We aren’t cat people. We just wanted you to know... </p>
