<center><h1>About Us</h1>
<font size="4"><p>
Organized By Color was a simple idea meant to bring a more positive, prepared feeling to the average reader. There’s just something about arranging your bookshelf and sharing your literary experiences with others. We can get lost in longing, learning and living through the characters we read about—especially if they are easy to find on our shelve. Whether you revisit an old favorite, or spend time reflecting on your books in your reviews for your friends’ benefits, this app gives you a chance to do it all with your own library catalogue.</p><center>
